@using Microsoft.Extensions.Options
@using Web.Models
@using System.Text.RegularExpressions;
@{
    Layout = null;

    string colorPrimario = _optionsStyle.CurrentValue.ColorPrimario;
    string colorSecundario = _optionsStyle.CurrentValue.ColorSecundario;
    string colorFuentePrimario = _optionsStyle.CurrentValue.ColorFuentePrimario;
    string colorFuenteSecundario = _optionsStyle.CurrentValue.ColorFuenteSecundario;
    string FontFamily = _optionsStyle.CurrentValue.FontFamily;
}

@inject IOptionsMonitor<DisplayTickets> _options
@inject IOptionsMonitor<DisplayStyle> _optionsStyle

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pantalla de visualización</title>
    
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/DisplayStyle.css" />
    <style>
        body {
            font-family: "@Regex.Replace(FontFamily, "[+]", " ")";
        }

        .sidenav {
            background-color: @colorPrimario;
            color: @colorFuentePrimario;
        }

        .card {
            background-color: @colorSecundario;
            color: @colorFuenteSecundario;
        }

        .card-header {
            background-color: @colorSecundario;
        }

    </style>
</head>
<body>
    <!-- Side navigation -->
    <div class="sidenav">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <div id="displayTicket">
                        @_options.CurrentValue.ActualTicket
                    </div>
                    <div id="displayOffice">
                        @_options.CurrentValue.ActualOffice
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card border-dark w-100 mx-3 mt-2">
                    <div class="card-header text-center p-2"><span class="h4">HISTÓRICO</span></div>
                    <div class="card-body text-center p-1">
                        <span id="ticketHistorico1" class="h1">@_options.CurrentValue.TicketH1</span><br />
                        <span id="officeHistorico1" class="h4">@_options.CurrentValue.OfficeH1</span>
                        <hr class="m-2" />
                        <span id="ticketHistorico2" class="h1">@_options.CurrentValue.TicketH2</span><br />
                        <span id="officeHistorico2" class="h4">@_options.CurrentValue.OfficeH2</span>
                        <hr class="m-2" />
                        <span id="ticketHistorico3" class="h1">@_options.CurrentValue.TicketH3</span><br />
                        <span id="officeHistorico3" class="h4">@_options.CurrentValue.OfficeH3</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="">
                        <div class="widget">
                            <div class="fecha">
                                <p id="diaSemana" class="diaSemana">Martes</p>
                                <p id="dia" class="dia">27</p>
                                <p>de </p>
                                <p id="mes" class="mes">Octubre</p>
                                <p>del </p>
                                <p id="year" class="year">2015</p>
                            </div>

                            <div class="reloj">
                                <p id="horas" class="horas">11</p>
                                <p>:</p>
                                <p id="minutos" class="minutos">48</p>
                                <p>:</p>
                                <div class="caja-segundos">
                                    <p id="ampm" class="ampm">AM</p>
                                    <p id="segundos" class="segundos">12</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="main">
        <div>
            <img id="img" class="img-fluid" alt="Imagen" style="display: none;" />

            <div id="embedVideo" class="embed-responsive embed-responsive-16by9" style="display: none;">
                <video id="video" controls autoplay class="embed-responsive-item">
                    <source id="vid" />
                </video>
            </div>

            <div id="embedAudio" style="display: none;">
                <audio id="audio" controls autoplay class="w-100">
                    <source id="aud" />
                </audio>
            </div>
        </div>

        <div class="position-fixed" style="bottom: 0px; right: 0px; left: 360px;">
            <div class="card mt-4 mx-3" style="height: 150px;">
                <div id="messagesCard" class="card-body text-center">
                    <!--Messages-->
                </div>
            </div>
        </div>


    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/popper.js/popper.js"></script>
    <script src="~/lib/@@coreui/coreui/js/coreui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Clock.js"></script>

    <script>
        var volumenMultimedia = JSON.parse(@Json.Serialize(_optionsStyle.CurrentValue.VolumenMultimedia));
        var volumenVoz = JSON.parse(@Json.Serialize(_optionsStyle.CurrentValue.VolumenVoz));
        var duracionMensajes = JSON.parse(@Json.Serialize(_optionsStyle.CurrentValue.DuracionMensajes));
        var duracionImagenes = JSON.parse(@Json.Serialize(_optionsStyle.CurrentValue.DuracionImagen));
    </script>
    <script src="~/js/Display.js" asp-append-version="true"></script>
    <link type="text/css" href="https://fonts.googleapis.com/css?family=@FontFamily" rel="stylesheet">
</body>
</html>
