@model Web.Areas.Identity.ViewModels.UsuariosViewModel

@{
    Layout = "";
    int i = 0;
}
<table class="table table-responsive-xl table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Usuarios)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.UserName</td>
                <td><a href="mailto:@@item.Email">@item.Email</a></td>
                <td>@item.PhoneNumber</td>
                <td>@Model.Roles[i]</td>
                <td class="d-flex">
                    <a class="btn btn-primary mr-1" data-toggle="modal" data-target="#verModal" onclick="loadDetails('@item.UserName')">Ver</a>
                    <a class="btn btn-success mr-1" data-toggle="modal" data-target="#editarModal" onclick="loadEdit('@item.UserName')">Editar</a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#eliminarModal" >Eliminar</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>